.div(id="{{kind}}", class="{{position}} popup {{ !!arrow ? 'arrow' : ''}}")
	close-button(ng-if="closeButton", action="closeButtonOwnAction()")|X 
	.popup-content
		p.poput-title(ng-if"params.title")|{{params.title}}
		ng-transclude