script(type="text/javascript", src="/static/js/libs/jquery.js")
script(type="text/javascript", src="/static/js/libs/plugins/jquery.cookie.js")
script(type="text/javascript", src="/static/js/libs/angular.min.js")
script(type="text/javascript", src="/static/js/libs/angular-ui-router.min.js")



script(type="text/javascript", src="/static/linker/js/actions/main.js")
script(type="text/javascript", src="/static/linker/js/actions/"+W.request.action+".js")