link(href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700', rel='stylesheet', type='text/css')

// STYLES
link(rel="stylesheet", href="/static/styles/importer.css")
link(rel="stylesheet", href="/static/styles/modules/apps/board/board.css")
link(rel="stylesheet", href="/static/styles/modules/apps/card/cardApp.css")
link(rel="stylesheet", href="/static/styles/modules/buttons/buttons.css")
link(rel="stylesheet", href="/static/styles/modules/custom-forms/create-card-form.css")
link(rel="stylesheet", href="/static/styles/modules/custom-forms/create-comment-form.css")
link(rel="stylesheet", href="/static/styles/modules/custom-forms/manage-tags-form.css")
link(rel="stylesheet", href="/static/styles/modules/dragng/dragng.css")
link(rel="stylesheet", href="/static/styles/modules/login/user-icon.css")
link(rel="stylesheet", href="/static/styles/modules/login/user-profile.css")
link(rel="stylesheet", href="/static/styles/modules/popups/basic-popup.css")
link(rel="stylesheet", href="/static/styles/modules/sections/header.css")
link(rel="stylesheet", href="/static/styles/modules/widgets/board-header.css")
link(rel="stylesheet", href="/static/styles/modules/widgets/card.css")
link(rel="stylesheet", href="/static/styles/modules/widgets/card/card-state-widget.css")
link(rel="stylesheet", href="/static/styles/modules/widgets/card/manage-users-widget.css")
link(rel="stylesheet", href="/static/styles/modules/widgets/comment.css")
link(rel="stylesheet", href="/static/styles/modules/widgets/list.css")
link(rel="stylesheet", href="/static/styles/modules/widgets/tags.css")
link(rel="stylesheet", href="/static/styles/utils/_mixins.css")
link(rel="stylesheet", href="/static/styles/utils/_utils.css")
link(rel="stylesheet", href="/static/styles/utils/_variables.css")
link(rel="stylesheet", href="/static/styles/utils/advertising.css")
link(rel="stylesheet", href="/static/styles/utils/autocomplete.css")
link(rel="stylesheet", href="/static/styles/utils/base.css")
link(rel="stylesheet", href="/static/styles/utils/elements.css")
link(rel="stylesheet", href="/static/styles/utils/footer.css")
link(rel="stylesheet", href="/static/styles/utils/grid-simple.css")
link(rel="stylesheet", href="/static/styles/utils/icons.css")
// STYLES END	