a.card-element-widget
	span(.appicon.attachment)
	span|{{ "addAttachment" | i18n }}
	span.widget-count.attachment-count(ng-if="card.attachments && card.attachments.length")|{{ card.attachments.legth }}
