a.card-element-widget
	span(.appicon.relations)
	span|{{ "addDependenciesAndSubtasks" | i18n }}
	span.widget-count.relations-count(ng-if="card.relations && card.relations.size")|{{ card.relations.size }}