#searchbox
	h1.maxi|grande
	a(ui-sref="index")|index

sidebar(ui-menu)
	.side-menu-buttons
		sidebar-menu-button(text="boards")
		sidebar-menu-button(text="profile")
		sidebar-menu-button(text="organizations")
		sidebar-menu-button(text="notifications")
		sidebar-menu-button(text="activity")
div.dashboard-main(ui-view="dashboard-view")
