#card-detail-shadow
#card-detail
	close-button(action="unselect()")
	.card-detail-content
		.card-detail-title(editable-element, field="card.name", kind="input", update="updateCard('name', value)")|{{card.name}}
		.card-detail-list|{{list.name}}
		
		.card-detail-description(editable-element, field="card.description", kind="textarea", update="updateCard('description', value)")
			p(ng-if="card.description")|{{card.description}}
			p(ng-if="!card.description")|{{ 'editDescription' | i18n }}
		
		.card-detail-comments
			h4|{{ "Comments" | i18n }}
			
	.card-detail.sidebar