#card-detail-shadow
#card-detail
	close-button(action="unselect()")
	.card-detail-content
		.card-detail-section
			textarea.card-detail-title(editable-element-on-place, 
										textarea-content-resize,
										ng-model="card.name", 
										update="updateCard('name', value)", 
										submitOnEnter="true",
										submitOnBlur="true")
			.buttons
		
		.card-detail-section
			.tags
			.card-detail-list|{{list.name}}
			
		
		.card-detail-section
			.card-detail-state

			.card-detail-users
				user-icon(ng-repeat="userId in card.users", user="boardUsers[userId]", remove-button="true", remove-action="removeUserFromCard(user)" )
				add-user-button
				span|+ {{ "addNewUser" | i18n }}

			.card-detail-created
				.creator|{{ "by" | i18n}} {{ boardUsers[card.creator].name | formatUserName }} |
				.created|{{ card.createdAt | dateDistance }}


		.card-detail-description(editable-element, field="card.description", kind="textarea", update="updateCard('description', value)")
			p.description(ng-if="card.description", ng-bind-html="card.description | specialContent | safeHtml")
			p.edit-description(ng-if="!card.description")|{{ 'editDescription' | i18n }}
		
		.card-detail-comments
			h4|{{ "Comments" | i18n }}
			create-comment-form(card="card")
			comment-widget(ng-repeat="comment in card.comments | reverse", comment="comment", card="card")
				
			
	.card-detail.sidebar
		add-board-user-autocomplete(users="card.users", callback="addUserToCard(user)")
		

	{{card}}