#card-detail-shadow
#card-detail
	.card-detail-content
		.card-detail-title|{{card.name}}
		.card-detail-list|{{list.name}}
		
		.card-detail-description|{{card.description}}
		
		.card-detail-comments
			h4|{{ "Comments" | i18n }}
			
	.card-detail.sidebar