//- 
	Site's header commmon to all pages
	Included by layout

header
	#logo|Tasked
	.search-field|{{ "search" | i18n }}
	.dashboard-link
		a(ui-sref="dashboard.boards")|{{ "dashboard" | i18n }}
	.time-tracking-widget
	div.login-component
	.notifications-widget
		

