div(title="{{user.name || user.showName}}", ng-class="{'user-icon-wrapper': true, 'with-initials': !user.icon}")
	img(ng-if="user.icon", ng-src="{{user.icon}}")
	span.initials(ng-if="!user.icon")|{{initials}}

	a.user-icon-remove(ng-if="removeButton=='true'", ng-click="removeAction({user: user})")|X