.add-users-autocomplete
	a.button
		em|+
		span|{{ "addUser" | i18n }}

	autocomplete(limit="10", 
				placeholder="{{ 'userNameOrEmail' | i18n }}", 
				source="dataSource", 
				default-icon="{{defaultIcons.user}}", 
				target="users"
				)
	.user(ng-repeat="user in users", ng-class-even="'even'")
		img(ng-src="{{user.icon || defaultIcons.user }}")
		p.user-name|{{user.name}}
		span.button.cancel-button(ng-click="removeUser($index)", ng-if="user.id != currentUser")