.create-comment(ng-class="{'hasFocus': comment.text}")
	textarea(ng-model="comment.text", 
		textarea-content-resize,
		placeholder="{{ 'addANewComment' | i18n }}")
	action-button(action="create()", text='addComment', ng-if="comment.text") 
