.list.create-list
	action-button(action="create()", ng-if="!open", text='newList')

	form(ng-submit="submitForm()", ng-if="open")
		a(ng-click="cancel()")|X
		input(type="text", ng-model="list.name")
		submit-button(text="create")