img(src="{{users[comment.user].icon}}")
p.name|{{users[comment.user].name}}
.comment-wrapper(editable-element, editable-required-trigger, field="comment.text", kind="textarea", update="updateComment(value)")
	p.text(ng-bind-html="comment.text | specialContent | safeHtml")
	.actions
		a.editable-trigger|{{ "edit" | i18n }}
		a.delete-trigger(ng-click="delete(comment)")|{{ "delete" | i18n }}
