.list(data-id="list.id", data-dragng="parent")
	.list-flags
	.list-title|{{list.name}}
	
	.list-cards-wrapper(data-dragng="target")
		card-widget(ng-repeat="card in list.cards", card="card", list="list")
	
	create-card-form(list="list")
