.list(data-dragng="parent", data-dragng-id="drag-card")
	.list-flags
	.list-title|{{list.name}}
	
	.list-cards-wrapper(data-dragng="target", data-id="{{list.id}}", data-dragng-id="drag-card")
		card-widget(ng-repeat="card in list.cards", card="card", data-dragng="item", data-dragng-id="drag-card")
	
	create-card-form(list="list")
