@import "../../importer";


.list-wrapper {

	float: left;
	margin: 0 @pad 0 0;

	.list {
		background: @background-lighter;
		padding: 0;
		width: 300px;

		.list-title {
			font-size: @normal;
			font-weight: bold;
			color: white;
			background: @accent-dark;
			padding: @halfpad;
			.capitalizeFirst;
		}
	}
}